<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="index.html">Sistema de Auditoria</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        @*<form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
            </div>
        </form>*@
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto me-0 me-md-3 my-2 my-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Cerrar Sesion</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Core</div>
                        <a class="nav-link" href="@Url.Action("Index","Home")">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <div class="sb-sidenav-menu-heading">Ingreso de Datos</div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseCon" aria-expanded="false" aria-controls="collapseCon">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Conocimiento y Comprension de la Entidad
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseCon" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="@Url.Action("InformacionEntidad","Conocimiento")">Informacion de la Entidad</a>
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                    Entrevistas y Encuestas
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="@Url.Action("Entrevistas","Conocimiento")">Entrevistas</a>
                                        <a class="nav-link" href="@Url.Action("Encuestas","Conocimiento")">Encuestas</a>
                                    </nav>
                                </div>
                                <a class="nav-link" href="@Url.Action("AnalisisComparativosEsFinan","Conocimiento")">Analisis Comparativos de Estados Financieros</a>
                                <a class="nav-link" href="@Url.Action("FODA","Conocimiento")">FODA</a>
                                <a class="nav-link" href="@Url.Action("CausaEfecto","Conocimiento")">Causa-Efecto</a>
                            </nav>
                        </div>
                        <a class="nav-link" href="@Url.Action("ObjetivoAlcance","Home")">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Objetivos y Alcance de la Auditoria
                        </a>
                        <a class="nav-link" href="@Url.Action("AnalisisPreControlInterno","Home")">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Análisis Preliminar del Control Interno
                        </a>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseAnaRiMat" aria-expanded="false" aria-controls="collapseAnaRiMat">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Análisis de los Riesgos y la Materialidad
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseAnaRiMat" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="@Url.Action("Riesgo","AnalisisRiesgoMaterialidad")">Riesgos</a>
                                <a class="nav-link" href="@Url.Action("Materialidad","AnalisisRiesgoMaterialidad")">Materialidad</a>
                            </nav>
                        </div>
                        <a class="nav-link" href="@Url.Action("PlaneacionEspecifica","Home")">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Planeación Especifica de la Auditoria
                        </a>
                        <a class="nav-link" href="@Url.Action("ElaboracionProgamada","Home")">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Elaboración de Programa de Auditoria
                        </a>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePruebas" aria-expanded="false" aria-controls="collapsePruebas">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Pruebas de Auditoria
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePruebas" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="@Url.Action("PruebaControl","Pruebas")">Pruebas de Control</a>
                                <a class="nav-link" href="@Url.Action("PruebaAnalitica","Pruebas")">Pruebas Analiticas</a>
                                <a class="nav-link" href="@Url.Action("PruebaSustantiva","Pruebas")">Pruebas Sustantivas</a>
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseTecnicas" aria-expanded="false" aria-controls="collapseTecnicas">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Técnicas de Muestreo
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseTecnicas" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="@Url.Action("MuestrasBloque","Muestras")">Muestras por Bloque</a>
                                <a class="nav-link" href="@Url.Action("MuestrasIncidental","Muestras")">Muestras Incidental</a>
                                <a class="nav-link" href="@Url.Action("MuestrasUnidad","Muestras")">Muestras por Unidad</a>
                                <a class="nav-link" href="@Url.Action("MuestrasSistematicas","Muestras")">Muestras Sistematicas</a>
                                <a class="nav-link" href="@Url.Action("MuestrasAleatorias","Muestras")">Muestras Aleatorias</a>
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseEvidencias" aria-expanded="false" aria-controls="collapseEvidencias">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Evidencias de Auditoria
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseEvidencias" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="@Url.Action("EvidenciasFisicas","Evidencias")">Evidencias Fisicas</a>
                                <a class="nav-link" href="@Url.Action("EvidenciasDocumentales","Evidencias")">Evidencias Documentales</a>
                                <a class="nav-link" href="@Url.Action("EvidenciasTestimoniales","Evidencias")">Evidencias Testimoniales</a>
                                <a class="nav-link" href="@Url.Action("EvidenciasAnaliticas","Evidencias")">Evidencias Analiticas</a>
                            </nav>
                        </div>
                        <a class="nav-link" href="@Url.Action("PapelesTrabajo","Home")">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Papeles de Trabajo
                        </a>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseHallazgos" aria-expanded="false" aria-controls="collapseHallazgos">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Hallazgos de Auditoria
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseHallazgos" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="@Url.Action("HallazgosCondicion","Hallazgos")">Hallazgos de Condicion</a>
                                <a class="nav-link" href="@Url.Action("HallazgosCriterio","Hallazgos")">Hallazgos de Criterio</a>
                                <a class="nav-link" href="@Url.Action("HallazgosCausa","Hallazgos")">Hallazgos de Causa</a>
                                <a class="nav-link" href="@Url.Action("HallazgosEfecto","Hallazgos")">Hallazgos de Efecto</a>
                            </nav>
                        </div>
                        <a class="nav-link" href="@Url.Action("GenerarInforme","Home")">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Generar Informe
                        </a>
                        @*<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
            Pages
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                    Authentication
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="login.html">Login</a>
                        <a class="nav-link" href="register.html">Register</a>
                        <a class="nav-link" href="password.html">Forgot Password</a>
                    </nav>
                </div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                    Error
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="401.html">401 Page</a>
                        <a class="nav-link" href="404.html">404 Page</a>
                        <a class="nav-link" href="500.html">500 Page</a>
                    </nav>
                </div>
            </nav>
        </div>*@
                        @*<div class="sb-sidenav-menu-heading">Addons</div>
        <a class="nav-link" href="charts.html">
            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
            Charts
        </a>
        <a class="nav-link" href="tables.html">
            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
            Tables
        </a>*@
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    Jose.Amaya
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                @RenderBody()
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2023</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    @*
        <li>@Html.ActionLink("Conocimiento y Comprension de la Entidad", "ConocimientoComprension", "Home", new { area = "" }, new { @class = "nav-link" })</li>
        <li>@Html.ActionLink("Objetivos y Alcance", "ObjetivoAlcance", "Home", new { area = "" }, new { @class = "nav-link" })</li>
        <li>@Html.ActionLink("Analisis de Riesgo y Materialidad", "RiesgoMaterialidad", "Home", new { area = "" }, new { @class = "nav-link" })</li>
        <li>@Html.ActionLink("Planeacion Especifica", "PlaneacionEspecifica", "Home", new { area = "" }, new { @class = "nav-link" })</li>
        <li>@Html.ActionLink("Elaboracion de Programa", "ElaboracionPrograma", "Home", new { area = "" }, new { @class = "nav-link" })</li>
        <li>@Html.ActionLink("Pruebas", "Pruebas", "Home", new { area = "" }, new { @class = "nav-link" })</li>
        <li>@Html.ActionLink("Tecnicas de Muestreo", "TecnicasMuestreo", "Home", new { area = "" }, new { @class = "nav-link" })</li>
        <li>@Html.ActionLink("Evidencias", "Evidencias", "Home", new { area = "" }, new { @class = "nav-link" })</li>
        <li>@Html.ActionLink("Papeles de Trabajo", "PapelesTrabajo", "Home", new { area = "" }, new { @class = "nav-link" })</li>
        <li>@Html.ActionLink("Hallazgos", "Hallazgos", "Home", new { area = "" }, new { @class = "nav-link" })</li>
        <li>@Html.ActionLink("Generar Informe", "GenerarInforme", "Home", new { area = "" }, new { @class = "nav-link" })</li>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/complementos")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
